@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400;1,600&display=swap');

body {
    font-family: "Titillium Web", sans-serif;
   
}

.all-page-content {
    background-image: url("../images/servers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*------------------------------------Nav Bar-----------------------------*/

.bg-light {
    background-color: rgb(25, 37, 45)!important;
}

.navbar {
    min-height: 70px;
}

.navbar-light a {
    color: #F2F2F2!important;
}

.navbar-light a:hover {
    color: 	#7091b2!important;
}
/*I used the !important because the default styling of the navbar-light used it also and it was the only way I could think of to make this work.*/


.nav-link i {
    margin-right: 8px;
    margin-left: 10px;
    color: #F2F2F2;
}

.active i {
    color: 	#7091b2;
}


/*------------------------------------Name and Role Info-----------------------------*/

.details-container {
    padding-top: 60px;
    background-size: cover;
    color: #F2F2F2;
    min-height: 300px;
    margin: 0px;
    text-align: center;
    position: relative;
}

.header-details {
    padding: 20px;
    background-color: rgba(25,37,45,0.85);
    display: inline-block;
}

.header-details h1 {
    font-weight: 400;
    margin-top: 8px;
}

.header-details h3 {
    font-weight: 100;
    margin-top: 15px;
}

/*This media query increases the space between the nav bar and the box with name and tittle and between said box and the content div in bigger screens in order to prevent
the existence of white space in the bottom of the website.*/
@media only screen and (min-height:900px) {
    .details-container {
        margin-bottom: 100px;
        margin-top: 70px;
    }
}

/*------------------------------------About Me-----------------------------*/

.about-text {
    background-color: rgba(25, 37, 45, 0.85);
    font-family: "Titillium Web", sans-serif;
    color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

/*Took some ideias and styling for the circle photo and container from the Love Running project and also from the "Quotes" section of the Whiskey drop project.*/
.circle-photo-container {
  width: 250px;
  height: 250px;
  padding: 0px;
  border-style: solid;
  border-color: #021526;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 4px #021526;
  margin-top: 20px;
}

.circle-photo-bg {
  background: url("../images/andre.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

.about-me h3 {
    margin-top: 20px;
}

.about-me p {
    margin-top: 20px;
    text-align: justify;
    word-spacing: 1px;
}

.text-container {
    margin-left: 8%;
    margin-right: 8%;
}


/*------------------------------------Resume-----------------------------*/

.resume {
    background-color: rgba(25, 37, 45, 0.85);
    color: #F2F2F2;
}

.roles {
    color: #f2f2f2;
    margin: 30px;
}

.roles:hover {
    text-decoration: none;
    color: #7091b2;
}

.list-group {
    margin: 20px;
}

.resume-content .col-lg-4 {
    padding-left: 30px;
    margin-bottom: 30px;
}

.tab-pane > h5 {
    color: #7091b2;
}

.role {
    margin: 5px 0px 15px 0px;
    padding: 5px 0px 10px 0px;
}

.dates-list {
    margin: 5px 0px 15px 0px;
    padding: 5px 0px 10px 0px;
}

.dates-list, .tasks-list {
    font-weight: 200;
}

.dates-list-cgd {
    margin-left: 23px;
    font-weight: 200;
}

#content-inok, #content-2as, #content-1k4s, #content-hiperbit {
    background: rgba(25, 37, 45, 0.8);
}

.know-more {
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}

.last-role {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.grow {
    font-size: 20px;
    font-weight: 500;
}

.blue {
    color: #7091b2;
}

/*The map wasn't showing in smaller screens, whenever the col-12 class was active, therefore I needed to add a min-height to make sure it will always appear no matter the screen size. */
#map {
    height: 100%;
    min-height: 200px;
    padding-bottom: 10px;
}

/*To give color to the text inside the info windows in the map. Without this, the text was "grayed out".*/
#content {
    color:black;
}

/*------------------------------------Skills-----------------------------*/

h4 {
    padding-left: 12px;
    text-align: center;
}

.know-more-center {
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

.title-container {
    color: #f2f2f2;
    background-color: rgba(25, 37, 45, 0.85);
    padding: 7px;
}

.info-container {
    color: #f2f2f2;
    background-color: rgba(25, 37, 45, 0.85);
    margin-bottom: 7px;
    padding: 7px;
    align-content: center;
}

.tab-content-skills {
    border-left-color: #f2f2f2;
    border-left-style: solid;
    border-left-width: 2px;
}

div > .tech-name {
    color: #f2f2f2;
    margin: 5px;
    font-size: 18px;
}

a:hover {
    color: #7091b2;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #7091b2;
    background-color: transparent;
}

i {
    color: #7091b2;
}

.bottom-margin {
    margin-bottom: 10px;
}

/*The following media query allows the list of Technical Skills & Technologies to be continuous in smaller screens when all of them appears only in one column.
Without this there were gaps between the information.*/

@media only screen and (max-width:991px) {
    .no-bottom-margin {
        margin-bottom: 0;
    }
}


/*------------------------------------Contacts-----------------------------*/


.contact-heading {
    color: #F2F2F2;
}

.form-col {
    background-color: rgba(25,37,45,0.85);
    padding: 20px;
    margin: 10px;
}


/*------------------------------------Footer-----------------------------*/

footer {
    background-color: rgb(25, 37, 45);
    color: #F2F2F2;
    min-height: 60px;
    margin: 0;
}

#footer-details {
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 15px;
}

footer h6 {
    
    letter-spacing: 1px;
    color: #F2F2F2;
}

footer h6 i {
    color: #7091b2;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}

footer h6 i:hover {
    color: #282828;
}

.in-logo {
    color: #7091b2;
}

footer a:hover {
    text-decoration: none;
}
